#colophon{

    background-color: rgb(0, 255, 42);
}
#site-navigation{
background-color: rgb(48, 45, 45);
font-style: normal;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color: blanchedalmond;

}
.site-header{
background-color: gray;
font-size: large;
font-weight: bold;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color: blanchedalmond;
}
#navbarCollapse{
padding: 0%;
left: 50%;
}
.widget ul li{
    list-style-type: none;
}
.widget{
    border: rgb(48, 45, 45);
    border-style: solid;
    box-sizing: border-box;
    border-radius: 6px;
    border-width: medium;

}
.widget ul li a:link,
.widget ul li a:visited,
.widget ul li a:active{
    text-decoration: none;
    color: gray;    
}