#colophon{

    background-color: whitesmoke;
}
#site-navigation{
background-color: rgb(48, 45, 45);
font-style: normal;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color: blanchedalmond;

}
.site-header{
background-color: gray;
font-size: large;
font-weight: bold;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color: blanchedalmond;
}
#navbarCollapse{
padding: 0%;
left: 50%;
margin-left: 40%;
color: black;
border-style: solid;
border-radius: 4px;
border-width: 1.5px;
border-color: whitesmoke;
}
.widget ul li{
    list-style-type: none;
}
.widget{
    border: rgb(48, 45, 45);
    border-style: solid;
    box-sizing: border-box;
    border-radius: 6px;
    border-width: 2px;
    box-shadow: gray 2px 1px;

}
.widget ul li a:link,
.widget ul li a:visited,
.widget ul li a:active{
    text-decoration: none;
    color: gray;    
}
.search-submit{
    background-color: cornflowerblue;
}
.site-branding .site-title h1{
 color: black;   
}
