#colophon{

    background-color: whitesmoke;
}
#site-navigation{
background-color: rgba(30, 30, 53, 0.904);
font-style: normal;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color: blanchedalmond;

}
.site-header{
background-color: gray;
font-size: large;
font-weight: bold;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color: blanchedalmond;
}
#navbarCollapse{
margin-left: 30%;
margin-right: 25%;
color: black;
border-bottom-width: 2px;
border-bottom-color: rgb(192, 32, 32);
border-bottom-style: solid;
}
.widget ul li{
    list-style-type: none;
}
.widget{

    
    border-bottom-width: 1px;
    border-bottom-color: black;
    border-bottom-style: solid;
    border-right-width: 1px;
    border-bottom-right-radius: 2mm;
    border-right-color: black;
    border-right-style: solid;
    box-shadow: lightgray;
    box-shadow: gray 2px 1px;
   
}
.widget ul li a:link,
.widget ul li a:active{
    text-decoration: none;
    color: gray;    
}
.widget ul li a:hover{
    color: rgb(192, 99, 134);
}
.widget ul li a:visited{
    color: rgb(31, 30, 30);
}
.col-sm-4 .search-form{
    margin-top: 10%;
    width: 115%;
}
.site-branding .site-title h1{
 color: black;   
}

#site-navigation ul li a:visited{
    color: lightgray;
    border-right-width: 1px;
    border-right-color:rgb(194, 188, 188);
    border-right-style: solid;
}
#site-navigation ul li a:link,
#site-navigation ul li a:active{
    color: white;
   
    border-right-width: 1px;
    border-right-color:rgb(194, 188, 188);
    border-right-style: solid;
}
#site-navigation ul li a:hover{
    color: rgb(187, 235, 236);
    border-right-width: 1px;
    border-right-color:rgb(194, 188, 188);
    border-right-style: solid;
    border-top-width: 1px;
    border-top-color:rgb(194, 188, 188);
    border-top-style: solid; 
    font-size: 110%;
    font-weight: bold;
}
#site-navigation a:link,
#site-navigation a:active,
#site-navigation a:visited{
    color:white;
}
.entry-title{
    font-size: xx-large;
    text-align: center;
    border-bottom-width: 1px;
    border-bottom-color:rgb(216, 179, 179);
    border-bottom-style: solid;
    font-style: oblique;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.entry-content{
font-size: medium;
border-right: black;
border-left: black;
}

.site-content{
    background-image: linear-gradient( rgba(0, 0, 0, 0.685), rgb(218, 218, 218));
}
.col-sm-8{
    border-left-width: 1px;
    border-left-color: gray;
    border-left-style: solid;
    border-right-width: 1px;
    border-right-color: gray;
    border-right-style: solid;
    background-color:white;
    box-shadow: gray 2px 2px;
}
.widget-title{
color: white;
background-color: rgb(58, 57, 57);

}
#footer-sidebar{

    background-color:rgba(30, 30, 53, 0.815);
}
#footer-sidebar ul li a:visited{
    color:lightgray;
}
#footer-sidebar ul li a:link,
#footer-sidebar ul li a:active{
    color: white;
}
#footer-sidebar ul li a:hover{
    color: rgb(170, 228, 137);
    border-bottom-width: 1px;
    border-bottom-color:rgb(194, 188, 188);
    border-bottom-style: solid; 
}
.footer-widget-title{
    color: white;
}
#footer-sidebar1{
    border-right-width: 1px;
    border-right-color:white;
    border-right-style: solid;
    box-shadow: lightgray;
    box-shadow: gray 2px 1px;
    color: white;
}
#footer-sidebar2{
    border-right-width: 1px;
    border-right-color:white;
    border-right-style: solid;
    box-shadow: lightgray;
    box-shadow: gray 2px 1px;
    color: white;
}
#footer-sidebar3{
    border-right-width: 1px;
    border-right-color:white;
    border-right-style: solid;
    box-shadow: lightgray;
    box-shadow: gray 2px 1px;
    color: white;
}
#footer-sidebar4{
    border-right-width: 1px;
    border-right-color:white;
    border-right-style: solid;
    box-shadow: lightgray;
    box-shadow: gray 2px 1px;
    color: white;
}
.col-sm-4 .search-submit{
    border-style: double;
    background-color: rgba(65, 65, 226, 0.61);
    border-width: 5px;
    border-radius: 10px;
    border-color: rgb(187, 233, 176);
    color: white;
    margin-left: 20%;
    
}
.col-sm-4 .search-field{
    border-collapse: collapse;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    box-shadow: rgb(167, 197, 118) 2px 1px;
    width: 120%;
}
#footer-sidebar .search-submit{
    border-style: double;
    background-color: rgba(65, 65, 226, 0.61);
    border-width: 5px;
    border-radius: 10px;
    border-color: rgb(187, 233, 176);
    color: white;
    margin-left: 10%;
}
#footer-sidebar .search-field{
    border-collapse: collapse;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    box-shadow: rgb(167, 197, 118) 2px 1px;
    width: 105%;
}
#footer-sidebar .search-form{
    margin-top: 5%;
    width: 120%;
}
.site-header{
    background-color: rgba(30, 30, 53, 0.904);
}
.custom-logo{
    border-style: hidden;
    height: 45px;
    width: 45px;
    margin-top: 5%;
    border-radius: 20px;
}